**/data/.java/*
**/data/libraries/*
**/data/logs/*
**/data/mods/*
**/data/world/*
**/data/.curseforge-manifest.json
**/data/.forge-manifest.json
**/data/.install-curseforge.env
**/data/.rcon-cli.env
**/data/.rcon-cli.yaml
**/data/crafttweaker.log
**/data/eula.txt
**/data/forge-1.12.2-14.23.5.2859.jar
**/data/minecraft_server.1.12.2.jar
**/data/server.properties
**/data/usercache.json
**/data/usernamecache.json
**/data/EverlastingSkins/547f17e4-fc57-4ed2-a118-a03eb53408a5.json
**/data/llibrary/config.dat
**/data/llibrary/debug/net.minecraft.entity.Entity.class
**/data/llibrary/debug/net.minecraft.entity.EntityLivingBase.class
**/data/llibrary/debug/net.minecraft.entity.player.EntityPlayer.class
**/data/llibrary/debug/net.minecraft.network.NetHandlerPlayServer.class
**/data/llibrary/debug/net.minecraft.server.MinecraftServer.class
